.triangle-up {
    margin:100px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
    animation: increase-size 3s ease 1;
    animation-play-state: paused;
}

@keyframes increase-size {
    0% {
        transform: scale(1);
        border-bottom: 100px solid yellow;
    }
    25% {
        transform: scale(1.5);
        border-bottom: 100px solid orange;
    }
    50% {
        transform: scale(2);
        border-bottom: 100px solid green;
    }
    75% {
        transform: scale(2.5);
        border-bottom: 100px solid deeppink;
    }
    100% {
        transform: scale(3);
        border-bottom: 100px solid rebeccapurple;
    }
}

